header#layout-header {
  .navbar-brand {
    // padding-left: 70px;
    background-image: url('../images/logo_150x93_c7.png');
    background-size: 100%;
    padding: 0 70px 20px 0;
    // padding-bottom: 20px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}

#layout-content {
  padding: 0;
  background-color: beige;
  color: maroon;
  text-align: justify;
  padding-bottom: 20px;
  line-height: 1.25;

  .container {
    padding-top: 15px;
    max-width: 97%;
    margin: 0 auto !important;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 992px;
      margin: 0 auto !important;
      ;
    }
  }

  a {
    text-decoration: none !important;
  }

  hr {
    border-color: #ccc;
  }

  .homeD {
    top: 10px;
  }

  .enCours {
    font-size: 1.4em;
    margin-bottom: 20px;
  }

  .enCours::before {
    display: block;
    content: 'En cours:';
    margin-top: 20px;
  }

  .tac {
    text-align: center;
  }
}

$mbbloc: 30px;

#col2 {
  width: 100%;
  text-align: justify;
  column-count: 2;

  ol li {
    page-break-inside: avoid;
    flex-flow: column nowrap;
    margin-bottom: $mbbloc;
    // border-bottom: 1px solid #000;
  }

  li:not(ol):first-of-type {
    margin-bottom: 10px;
    // border-bottom: none;
  }

  #firstSujet {
    margin-bottom: $mbbloc
  }
}

footer {
  line-height: 1;
  font-size: 0.6rem;
  width: 100%;
  color: rgb(202, 202, 161);
  background-color: rgb(41, 30, 2);
  padding: 5px 0;
  p {
    margin: 3px;
  }
}
