<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('acme/crm/opportunities') ?>">Opportunities</a></li>
    <li>
        <?= e($this->pageTitle) ?>
    </li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button type="submit" data-request="onSave" data-hotkey="ctrl+s, cmd+s" data-load-indicator="Creating Opportunity..."
            class="btn btn-primary">
            Create
        </button>
        <button type="button" data-request="onSave" data-request-data="close:1" data-hotkey="ctrl+enter, cmd+enter"
            data-load-indicator="Creating Opportunity..." class="btn btn-default">
            Create and Close
        </button>
        <span class="btn-text">
            or <a href="<?= Backend::url('acme/crm/opportunities') ?>">Cancel</a>
        </span>
    </div>
</div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error">
    <?= e($this->fatalError) ?>
</p>
<p><a href="<?= Backend::url('acme/crm/opportunities') ?>" class="btn btn-default">Return to opportunities list</a></p>

<?php endif ?>