description = "Static Layout des pages Doc"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "mainmenudoc"

[simpleMenu]
main-ul-class = "nav navbar-nav"
active-class = "active"

[googleTracker]
==
<?php
function onStart(){

  // Pour tuer le cash en prod
  \Artisan::call('cache:clear');
  \Artisan::call('view:clear');

}
?>
==
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">

  <title>{{this.page.title}}
    | Doc c57</title>

  {% if this.page.__isset('title') and this.page.title is not empty %}
  <meta name="title" content="{{ this.page.title }}" />
  {% endif %} {% if this.page.__isset('meta_description') and
  this.page.meta_description is not empty %}
  <meta name="description" content="{{ this.page.meta_description }}" />
  {% endif %}

  <meta name="author" content="C57">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif'|theme }}">
  <link rel="icon" type="image/gif" href="{{ 'assets/images/favicon.ico'|theme }}">

  <!-- Compressed CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ [
      'assets/dist/css/doc/all.css',
      'assets/dist/css/doc/hacker.css'
    ]|theme }}">

  <style>
    .navbar {
      margin: 20px 0;
    }

    .jumbotrono {
      text-align: center;
      min-height: 0;
      background-color: #1f1f1f;
      padding-top: 20px;
      padding-bottom: 0;
    }

    .jumbotron h1 {
      color: blue;
    }
  </style>

  {% component 'googleTracker' %}

</head>

<body>
  <!-- 2do Vidéos - Add lien page des Vidéos (Série K) -->

  {% partial "doc/header" %}

  {% component 'simpleMenu' %}

  {% partial "doc/mainMenuDoc" %}

  <section id="layout-content" class="container clearfix">

    {# <div class="row"> #}
    <!-- Main page content -->
    {% component 'staticPage' %}
    {# </div> #}

  </section>

  {% partial "une/footerc57" %}

  <!-- Scripts -->
  <script src="{{
  [
    'assets/js/jquery-3.3.1.min.js',
    'assets/js/popper.min.js',
    'assets/js/app.js'
  ]|theme }}">
  </script>

  <!-- Compressed JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js" integrity="sha256-WUKHnLrIrx8dew//IpSEmPN/NT3DGAEmIePQYIEJLLs= sha384-53StQWuVbn6figscdDC3xV00aYCPEz3srBdV/QGSXw3f19og3Tq2wTRe0vJqRTEO sha512-X9O+2f1ty1rzBJOC8AXBnuNUdyJg0m8xMKmbt9I3Vu/UOWmSg5zG+dtnje4wAZrKtkopz/PEDClHZ1LXx5IeOw==" crossorigin="anonymous">
  </script>

  {% framework extras %}
  {% scripts %}

  <script>
    $(function () {

      $(document).foundation();
      console.log('Oki 21');

    })
  </script>
</body>

</html>
