[staticMenu topMenuLeft]
code = "main-menu-left"

[staticMenu topMenuRight]
code = "main-menu-right"

[staticPage]
useContent = 1
default = 0

[staticMenu blogCategoriesMenu]
code = "blog-categories"

[session]
security = "all"
redirect = "account"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ this.page.title }}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <!-- Theme CSS -->
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Basic Pages Demo</a>

                        {% partial 'menu-dynamic' %}

                    </div>
                    <div class="navbar-collapse collapse">
                        {% partial 'menu-items' items=topMenuLeft.menuItems class='nav navbar-nav' %}
                        {% partial 'menu-items' items=topMenuRight.menuItems class='nav navbar-nav navbar-right' %}
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </div>
        </div> <!-- /container -->
        
        <div id="layout-content">
            <div class="container">
                <div class="jumbotron">
                    <h1>{{ this.page.title }}</h1>
                    <p>{{ this.page.description }}</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <!-- Content -->
                    {% page %}
                </div>
                
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="sidebar">
                        <h4>Blog categories</h4>
                    
                        {% partial 'menu-items' items=blogCategoriesMenu.menuItems class='nav nav-pills nav-stacked' %}
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>