description = "Layout avec 2 placeholders"

[staticMenu topMenuLeft]
code = "main-menu-left"

[staticMenu topMenuRight]
code = "main-menu-right"

[staticPage]
useContent = 1
default = 0

[staticMenu]
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ this.page.title }}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <!-- Theme CSS -->
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Static Pages Demo</a>

                        {% partial 'menu-dynamic' %}

                    </div>
                    <div class="navbar-collapse collapse">
                        {% partial 'menu-items' items=topMenuLeft.menuItems class='nav navbar-nav' %}
                        {% partial 'menu-items' items=topMenuRight.menuItems class='nav navbar-nav navbar-right' %}
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </div>
        </div> <!-- /container -->


        <div class="product-description">
            {% page %}
        </div>

        <div class="product-ordering">
            <h3>Ordering information</h3>

            {% placeholder ordering title="Ordering" %}
        </div>

        <div class="product-delivery">
            <h3>Delivery & Shipping</h3>

            <p>{% placeholder delivery title="Delivery" type="text" %}</p>
        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
</html>
