description = "Header de c57"

[viewBag]
==
<header>
  <a href="doc" title="Accéder aux pages de documentation">Doc</a>
  {% if this.page.id != "login" %}
| <a href=""  data-toggle="modal" data-target="#modalLoginForm" title=" Zone membres " id="btnBea">B.E.A.</a>
  {% else %}
| <a href="/" title=" Retour à l'Accueil ">Retour B.E.A.</a>  
  {% endif %}
</header>