title = "OB-19"
url = "/t/ob-19"
layout = "basic"
==
<div class="container">
  <h1>Beyond Behaviors</h1>
  <p class="h4">Part 1: How MVC works</p>
  <p>Création de <strong>MyController</strong> dans GrCOTE7.<strong>Tutos</strong></p>
  <p>Voir aussi code de Acme.<strong>Formist MyController/index</strong></p>
</div>