title = "OB-13"
url = "/t/ob-13"
layout = "basic"
description = "Builder Plugin"
==
<div class="container">

    <h1>Using October without a database</h1>
    <p>Comme un CMS "flat-files"</p>
    <p>NB: Excellent tuto à suivre parmis les tous premiers pour avoir les bases d'OCMS (Avec Twig, etc...)</p>
  
    <p>Cf.:</p>
      <ul>
        <li><a href="https://octobercms.com/support/article/ob-13" target="_blank">OB-13</a></li>
        <li><a href="https://github.com/c57fr/flat" target="_blank">Le dépôt GH correspondant<br>
          (NB: Lancer commande php pour installer 'flat' afin d'avoir aussi le vendor/)</a></li>
      </ul>
  </div>