title = "OB-17"
url = "/t/ob-17"
layout = "basic"
==
<div class="container">

  <h1>Marketing Tools</Var></h1>

  <h2>
    <!--2fix eMails https://watch-learn.com/october-tips/email-mailgun-templates -->
  </h2>

  <ol>
    <li>
      <h4><a href="https://octobercms.com/blog/post/affordable-email-marketing-october-cms" target="_blank">Affordable
          email marketing with October CMS</a></h4>
      <p>(Plugin 100 €: Permet de gérer des campagnes de mass mailing)</p>
    </li>
    <li>
      <h4><a href="https://octobercms.com/plugin/rainlab-googleanalytics" target="_blank">Setting up Google
          Analytics</a></h4>
    </li>
  </ol>

</div>
