title = "OB-2"
url = "/t/ob-2"
layout = "basic"
description = "Blog & Forum"
is_hidden = 0
show_menu = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":slug"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "t/ob-2-category"
postPage = "t/ob-2-post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "t/ob-2-category"
==
<div class="container">

  <h1>Blog & <a href="/forum">Forum</a></h1>
  <p>Blog dans le dossier /t, Forum dans le dossier /forum</p>

  <p>Voir aussi le thème <a href="/be/cms/themes" target="_blank">Static Pages tutorial</a> (2 versions)</p>

  <hr>
  
  <div class="row">
    <div class="col-sm-8">
      {% component 'blogPosts' %}
    </div>
    <div class="col-sm-4">
      {% component 'blogCategories' %}
    </div>
  </div>

</div>
