title = "OB-21"
url = "/t/ob-21"
layout = "basic"
==
<div class="container">
  <h1>Beyond Behaviors</h1>
  <p class="h4">Part 3: Implementing a nested relationship</p>
  <p>Controller <strong>Customers</strong> du plugin <strong>acme.formist</strong></p>
  <p>Customers -> orders -> items -> products</p>
</div>