title = "OB-3"
url = "/t/ob-3"
layout = "basic"
description = "Mastering component"
is_hidden = 0
show_menu = 0

[tAF]
==
<div class="container">

  <h1>Create a plugin / Database / Database Model / Component</h1>


  <p>
    <code>
      php artisan create:plugin Grcote7.Uuu
    </code>
  </p>

  <p>
    <code>
      php artisan create:model Grcote7.Uuu Tableuuu
    </code>
  </p>

  <p>
    <code>
      php artisan plugin:refresh Grcote7.Uuu
    </code>
  </p>

  <p>
    <code>
      php artisan create:component Grcote7.Uuu Nameuuu
    </code>
  </p>


  <hr>

  <h3>Exemple</h3>
  {% component 'tAF' %}

</div>