<div data-control="toolbar">
    <a
        href="<?= Backend::url('acme/formist/customers/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New <strong>Customer</strong>
    </a>
</div>
