/**
 * Dedans ci-dessous: css de doubleTapToGo()
 * 
 * 
 */
body {
  color: white;
}

#blocLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  border-radius: 7px;
  width: 97%;
  max-width: 1200px;
  margin: 0doc 0.1 auto 1em;
  padding: 1rem;
}

#blocLogo h1,
#blocLogo h2 {
  text-align: center;
}

#blocLogo h2 {
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  #blocLogo #logo {
    background-size: 7em;
  }
}

@media only screen and (max-width: 700px) {
  #blocLogo #logo {
    background-size: 5em;
    background-position: 10px 70%;
  }
  #blocLogo #logo h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  #blocLogo #logo {
    background-position: 10px 70%;
    background-size: 3em;
  }
  #blocLogo #logo h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  #blocLogo #logo {
    background-position: 10px 70%;
    background-size: 2em;
  }
  #blocLogo #logo h1 {
    font-size: 1.2rem;
  }
}

#blocLogo #titre h1 a {
  text-decoration: none;
  color: #b5e853;
}

#blocLogo #titre h2 a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: 7s;
  transition: 7s;
}

#blocLogo #titre h2 a:hover {
  color: red;
  text-shadow: 0 0 5px #b5e853;
  -webkit-transition: .7s;
  transition: .7s;
}

#blocLogo #boutons {
  text-align: center;
}

#blocLogo #boutons .btn-download .icon {
  opacity: 0.9;
  background: url("/themes/c57/assets/images/download.png") 0 0 no-repeat;
  height: 16px;
}

#blocLogo #boutons .btn-gh-edit .icon {
  opacity: 0.9;
  background: url("/themes/c57/assets/images/edit.png") 0 0 no-repeat;
}

#blocLogo #boutons a {
  display: block;
  width: 130px;
  color: #0f0;
  margin: 5px 0;
}

@media only screen and (max-width: 587px) {
  #blocLogo #boutons {
    background-size: 7em;
  }
  #blocLogo #boutons a {
    display: inline-block;
  }
}

.breadcrumb {
  background-color: #222;
  padding: .2em .5em;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0;
}

.breadcrumb a {
  color: #00f7ff;
}

.breadcrumb a:hover {
  color: #aefcff;
  text-decoration: none;
}

.navbar {
  color: red;
  margin-top: 10px;
  -webkit-box-shadow: 5px 4px 5px #6b0000;
          box-shadow: 5px 4px 5px #6b0000;
}

.mask {
  border: 0;
  background-color: white;
  border: 1px solid red;
  text-align: right;
  display: block;
  width: 10px;
}

a.btn-bouee-16 {
  color: #eee;
  text-decoration: none;
}

a.btn-bouee-16 .icon {
  opacity: 0.9;
  background: url("/themes/c57/assets/images/bouee-16.png") 0 0 no-repeat;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px dashed #b5e853;
}

footer div {
  font-size: .8em;
  padding: 0px 0;
  width: 97%;
  max-width: 1000px;
  margin: 0 auto 40px;
}

/*
$couleur: rgb(21, 255, 21);

p {
  color: $couleur;
}
*/
.pageDoc h3 + p {
  padding-left: 2em;
}

.tac {
  text-align: center;
}

#doc {
  padding-bottom: 0px;
}

li .active {
  color: red;
  background-color: #063781;
  border-radius: 7px;
  padding: 0 10px;
}

.red {
  color: red;
}

#doubletop {
  /* first level */
  /* second level */
  /* first level */
  /* second level */
}

#doubletop body {
  /*55555555555555555555*/
  background-color: #f7efeb;
  padding: 1.25em;
  /* 20 */
}

#doubletop #nav {
  width: 60em;
  /* 1000 */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -30em;
  /* 30 480 */
}

#doubletop #nav > a {
  display: none;
}

#doubletop #nav li {
  position: relative;
}

#doubletop #nav li a {
  color: #fff;
  display: block;
}

#doubletop #nav li a:active {
  background-color: #c00 !important;
}

#doubletop #nav span:after {
  width: 0;
  height: 0;
  border: 0.313em solid transparent;
  /* 5 */
  border-bottom: none;
  border-top-color: #efa585;
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -0.313em;
  /* 5 */
}

#doubletop #nav > ul {
  height: 3.75em;
  /* 60 */
  background-color: #e15a1f;
}

#doubletop #nav > ul > li {
  width: 25%;
  height: 100%;
  float: left;
}

#doubletop #nav > ul > li > a {
  height: 100%;
  font-size: 1.5em;
  /* 24 */
  line-height: 2.5em;
  /* 60 (24) */
  text-align: center;
}

#doubletop #nav > ul > li:not(:last-child) > a {
  border-right: 1px solid #cc470d;
}

#doubletop #nav > ul > li:hover > a,
#doubletop #nav > ul:not(:hover) > li.active > a {
  background-color: #cc470d;
}

#doubletop #nav li ul {
  background-color: #cc470d;
  display: none;
  position: absolute;
  top: 100%;
}

#doubletop #nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
}

#doubletop #nav li:not(:first-child):hover ul {
  left: -1px;
}

#doubletop #nav li ul a {
  font-size: 1.25em;
  /* 20 */
  border-top: 1px solid #e15a1f;
  padding: 0.75em;
  /* 15 (20) */
}

#doubletop #nav li ul li a:hover,
#doubletop #nav li ul:not(:hover) li.active a {
  background-color: #e15a1f;
}

@media only screen and (max-width: 62.5em) {
  #doubletop #nav {
    width: 100%;
    position: static;
    margin: 0;
    color: #00f;
  }
}

@media only screen and (max-width: 40em) {
  #doubletop {
    /* first level */
    /* second level */
  }
  #doubletop html {
    font-size: 75%;
    /* 12 */
  }
  #doubletop #nav {
    position: relative;
    top: auto;
    left: auto;
  }
  #doubletop #nav > a {
    width: 3.125em;
    /* 50 */
    height: 3.125em;
    /* 50 */
    text-align: left;
    text-indent: -9999px;
    background-color: #e15a1f;
    position: relative;
  }
  #doubletop #nav > a:before,
  #doubletop #nav > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
  }
  #doubletop #nav > a:after {
    top: 60%;
  }
  #doubletop #nav:not(:target) > a:first-of-type,
  #doubletop #nav:target > a:last-of-type {
    display: block;
  }
  #doubletop #nav > ul {
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
  #doubletop #nav:target > ul {
    display: block;
  }
  #doubletop #nav > ul > li {
    width: 100%;
    float: none;
  }
  #doubletop #nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0 0.833em;
    /* 20 (24) */
  }
  #doubletop #nav > ul > li:not(:last-child) > a {
    border-right: none;
    border-bottom: 1px solid #cc470d;
  }
  #doubletop #nav li ul {
    position: static;
    padding: 1.25em;
    /* 20 */
    padding-top: 0;
  }
}

#doubletop body {
  background-color: #f7efeb;
  padding: 1.25em;
  /* 20 */
}

#doubletop #nav {
  width: 60em;
  /* 1000 */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -30em;
  /* 30 480 */
}

#doubletop #nav > a {
  display: none;
}

#doubletop #nav li {
  position: relative;
}

#doubletop #nav li a {
  color: #fff;
  display: block;
}

#doubletop #nav li a:active {
  background-color: #c00 !important;
}

#doubletop #nav span:after {
  width: 0;
  height: 0;
  border: 0.313em solid transparent;
  /* 5 */
  border-bottom: none;
  border-top-color: #efa585;
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -0.313em;
  /* 5 */
}

#doubletop #nav > ul {
  height: 3.75em;
  /* 60 */
  background-color: #e15a1f;
}

#doubletop #nav > ul > li {
  width: 25%;
  height: 100%;
  float: left;
}

#doubletop #nav > ul > li > a {
  height: 100%;
  font-size: 1.5em;
  /* 24 */
  line-height: 2.5em;
  /* 60 (24) */
  text-align: center;
}

#doubletop #nav > ul > li:not(:last-child) > a {
  border-right: 1px solid #cc470d;
}

#doubletop #nav > ul > li:hover > a,
#doubletop #nav > ul:not(:hover) > li.active > a {
  background-color: #cc470d;
}

#doubletop #nav li ul {
  background-color: #cc470d;
  display: none;
  position: absolute;
  top: 100%;
}

#doubletop #nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
}

#doubletop #nav li:not(:first-child):hover ul {
  left: -1px;
}

#doubletop #nav li ul a {
  font-size: 1.25em;
  /* 20 */
  border-top: 1px solid #e15a1f;
  padding: 0.75em;
  /* 15 (20) */
}

#doubletop #nav li ul li a:hover,
#doubletop #nav li ul:not(:hover) li.active a {
  background-color: #e15a1f;
}

@media only screen and (max-width: 62.5em) {
  #doubletop #nav {
    width: 100%;
    position: static;
    margin: 0;
    color: red;
  }
}

@media only screen and (max-width: 40em) {
  #doubletop {
    /* first level */
    /* second level */
  }
  #doubletop html {
    font-size: 75%;
    /* 12 */
    color: blue;
  }
  #doubletop #nav {
    position: relative;
    top: auto;
    left: auto;
  }
  #doubletop #nav > a {
    width: 3.125em;
    /* 50 */
    height: 3.125em;
    /* 50 */
    text-align: left;
    text-indent: -9999px;
    background-color: #e15a1f;
    position: relative;
  }
  #doubletop #nav > a:before,
  #doubletop #nav > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
  }
  #doubletop #nav > a:after {
    top: 60%;
  }
  #doubletop #nav:not(:target) > a:first-of-type,
  #doubletop #nav:target > a:last-of-type {
    display: block;
  }
  #doubletop #nav > ul {
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
  #doubletop #nav:target > ul {
    display: block;
  }
  #doubletop #nav > ul > li {
    width: 100%;
    float: none;
  }
  #doubletop #nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0 0.833em;
    /* 20 (24) */
  }
  #doubletop #nav > ul > li:not(:last-child) > a {
    border-right: none;
    border-bottom: 1px solid #cc470d;
  }
  #doubletop #nav li ul {
    position: static;
    padding: 1.25em;
    /* 20 */
    padding-top: 0;
  }
}
/*# sourceMappingURL=doc_archives.css.map */