{% set items = __SELF__.items %}

<div class="main">
  <h2>Menu C57</h2>
  <hr>

  <!-- {{ var_dump(items) }} -->

  <ul class="comaSeparate">
    {% for item in items %}
      <li> {{ item.name }} {{ item.age }}</li>
    {% endfor %}
  </ul>

</div> 
<hr>
<h2>Menu static de C57</h2>