description = "A basic layout"
==
<?php
function onStart(){
    $this['snl'] = $_SERVER['HTTP_HOST'];
    //$gc7 = Debugbar::addCollector(new DebugBar\DataCollector\MessagesCollector('gc7'));
    //$gc7['gc7']->info ( 'Server Name: ' . $this['snl'] );
}
?>
==
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <title>
    {% if (snl == 'p' or snl == 'p') %}
    L/ {% endif %}
    000 | {{ this.page.title }}
  </title>
  {% if this.page.__isset('title') and this.page.title is not empty %}
  <meta name="title" content="{{ this.page.title }}">
  {% endif %}
  {% if this.page.__isset('meta_description') and this.page.meta_description is not empty %}
  <meta name="description" content="{{ this.page.meta_description }}">
  {% endif %}
  <meta name="author" content="LC">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="OctoberCMS">
  <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link href="{{ ["assets/less/theme/style.less"]|theme }}" rel="stylesheet">

  {% placeholder head %}
  {% styles %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61289532-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-61289532-1');
  </script>

</head>

<body>
  <!-- Header -->
  <header id="layout-header">

    <!-- Nav -->
    <nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"></a>

          <a class="{% if this.page.title == 'D' %}active{% endif %}" href="/d" id="lienTests">Démos</a>

        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if this.page.title == 'Accueil' %}active{% endif %}"><a href="/">{{ this.theme.getConfigValue('name')|capitalize }}</a>
            </li>
            {% verbatim %}

            <li>
              <a target="_blank" href="/themes/gc000/a" title="Page pour tests rapides">A</a>
            </li>
            {% endverbatim %}
            <li class="{% if this.page.title == 'Ajax' %}active{% endif %}">
              <a href="{{ 'ajax'|page }}">Ajax</a>
            </li>
            <li class="{% if this.page.title == 'AjaxJS' %}active{% endif %}">
              <a href="{{ 'ajaxjs'|page }}">AjaxJS</a>
            </li>
            <li class="{% if this.page.title == "Tools Vue.J" %}active{% endif %}">
              <a href="{{ 'tools/vuejs-commits'|page }}">VueJS</a>
            </li>
            <li class="{% if this.page.title == 'Form' %}active{% endif %}">
              <a href="{{ 'form'|page }}">Form</a>
            </li>
            <li class="{% if this.page.title == 'Google' %}active{% endif %}">
              <a target="_blank" href="{{ 'google'|page }}">Google</a>
            </li>
            <li class="{% if this.page.title == 'Videos' %}active{% endif %}">
              <a href="{{ 'divers/videos'|page }}">Vidéos</a>
            </li>
            <li class="{% if this.page.title == 'Pad' %}active{% endif %}">
              <a href="{{ 'tools/pad'|page }}">Pad</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <!-- Content -->
  <section id="layout-content">
    {% page %}
  </section>

  <!-- Footer -->
  <footer id="layout-footer">
    {% partial "footer" %}
  </footer>

  <!-- Scripts -->
  <script src="{{ [
      'assets/js/jquery.js',
      'assets/vendor/bootstrap/js/transition.js',
      'assets/vendor/bootstrap/js/alert.js',
      'assets/vendor/bootstrap/js/button.js',
      'assets/vendor/bootstrap/js/carousel.js',
      'assets/vendor/bootstrap/js/collapse.js',
      'assets/vendor/bootstrap/js/dropdown.js',
      'assets/vendor/bootstrap/js/modal.js',
      'assets/vendor/bootstrap/js/tooltip.js',
      'assets/vendor/bootstrap/js/popover.js',
      'assets/vendor/bootstrap/js/scrollspy.js',
      'assets/vendor/bootstrap/js/tab.js',
      'assets/vendor/bootstrap/js/affix.js',
      'assets/js/app.js'
    ]|theme }}"></script>
  {% framework extras %}
  {% scripts %}

</body>

</html>
