{% set records = dptList.records %}

<h1>Liste des départements</h1>


{{ debug('records = ', records) }}

{% if records %}
<textarea rows="15" cols="40" style="line-height:.5">

      {% for record in records %}

        {{ record.code ~ ' - ' ~ record.nom }}

      {% endfor %}
    </textarea>

{% else %}
<p class="no-data">Pas d'info...</p>
{% endif %}

{#
    {% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
        <li class="{{ records.currentPage == page ? 'active' : null }}">
            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
    {% endif %}
#}
