body {
  margin: 0;
  padding: 0;
  background: #151515 url("../../images/bkg.png") 0 0;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

a:not(.nofd) {
  color: cyan !important;
  background-color: #111;
}

a:hover {
  color: #aefcff;
  text-decoration: none;
}

#blocLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  border-radius: 7px;
  width: 97%;
  max-width: 1200px;
  margin: 0 auto 1em;
  padding: 1rem;
}

#blocLogo h1,
#blocLogo h2 {
  text-align: center;
}

#blocLogo h2 {
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  #blocLogo #logo {
    background-size: 7em;
  }
}

@media only screen and (max-width: 700px) {
  #blocLogo #logo {
    background-size: 5em;
    background-position: 10px 70%;
  }
  #blocLogo #logo h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  #blocLogo #logo {
    background-position: 10px 70%;
    background-size: 3em;
  }
  #blocLogo #logo h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  #blocLogo #logo {
    background-position: 10px 70%;
    background-size: 2em;
  }
  #blocLogo #logo h1 {
    font-size: 1.2rem;
  }
}

#blocLogo #titre h1 a {
  text-decoration: none;
  color: #b5e853;
}

#blocLogo #titre h2 a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: 7s;
  transition: 7s;
}

#blocLogo #titre h2 a:hover {
  color: red;
  text-shadow: 0 0 5px #b5e853;
  -webkit-transition: .7s;
  transition: .7s;
}

#blocLogo #boutons {
  text-align: center;
}

#blocLogo #boutons .btn-download .icon {
  opacity: .9;
  background: url("/themes/c57/assets/images/download.png") 0 0 no-repeat;
  height: 16px;
}

#blocLogo #boutons .btn-gh-edit .icon {
  opacity: .9;
  background: url("/themes/c57/assets/images/edit.png") 0 0 no-repeat;
}

#blocLogo #boutons a {
  display: block;
  width: 130px;
  color: #0f0;
  margin: 5px 0;
}

@media only screen and (max-width: 587px) {
  #blocLogo #boutons {
    background-size: 7em;
  }
  #blocLogo #boutons a {
    display: inline-block;
  }
}

.breadcrumbs {
  background-color: #222;
  padding: .2em .5em;
}

.breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0;
}

.breadcrumbs a {
  color: #00f7ff;
}

.breadcrumbs a:hover {
  color: #aefcff;
  text-decoration: none;
}

.navbar {
  color: red;
  margin-top: 10px;
  -webkit-box-shadow: 5px 4px 5px #6b0000;
          box-shadow: 5px 4px 5px #6b0000;
}

.mask {
  border: 0;
  border: 1px solid red;
  text-align: right;
  display: block;
  width: 10px;
}

a.btn-bouee-16 {
  color: #eee;
  text-decoration: none;
}

a.btn-bouee-16 .icon {
  opacity: .9;
  background: url("/themes/c57/assets/images/bouee-16.png") 0 0 no-repeat;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px dashed #b5e853;
}

footer div {
  font-size: .8em;
  padding: 0;
  width: 97%;
  max-width: 1000px;
  margin: 0 auto 40px;
}

/*
$couleur: rgb(21, 255, 21);

p {
  color: $couleur;
}
*/
.pageDoc h3 + p {
  padding-left: 2em;
}

.tac {
  text-align: center;
}

#doc {
  padding-bottom: 0;
}

li .active {
  color: red;
  background-color: #063781;
  border-radius: 7px;
  padding: 0 10px;
}

.red {
  color: red;
}

table,
td,
td {
  background-color: #000;
}

.tar {
  text-align: right;
}

.w1 {
  width: 30px;
}

.essai div:not(.nocadre) {
  max-height: 1000px;
  margin: 1px;
  border: 3px solid orange;
}

.callout {
  color: lime;
  background-color: #000;
  border-radius: 7px;
  border: 3px solid orange;
}

.callout.subheader {
  color: #777;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.docc57 td,
.docc57 tr {
  color: orange;
  padding: 0 !important;
}

.asterisque tbody {
  border: 0;
}

.asterisque td {
  background-color: #111;
  padding: 0 5px !important;
}

.asterisque td:first-child {
  width: 40px;
}

.accordion {
  background-color: #000;
}

.accordion ol > p,
.accordion ul > p {
  border-bottom: 1px dashed #aaa;
  margin-left: -1rem;
  margin-top: .7rem;
}

.bordered {
  text-align: right;
  border: 1px solid #000;
}
/*# sourceMappingURL=doc.css.map */