title = "Blog post"
url = "/blog/post/:slug"
layout = "default"
description = "Viewing a single post"
is_hidden = 0
show_menu = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[forumEmbedTopic]
embedCode = ":slug"
channelSlug = "blog-comments"
==
<?php
function onEnd(){
  $this->page->title = $this['post']->title;
}
?>
==
<div class="container">

  {% component 'blogPost' %}
  
  <h2>Commentaires</h2>
  
  {% component 'forumEmbedTopic' %}
  
</div>