title = "Form"
url = "/form"
layout = "basic"
meta_title = 456
meta_description = 999
is_hidden = 0
show_menu = 0
==
<?php
function onStart(){
  Debugbar::addMessage('A first message', 'mylabel');
  $this['lastValue']=null;
}
function onHandleForm()
{
    $this['lastValue'] = ucfirst(strtolower(post('value')));
    if ($this['lastValue']=='') {
    ?>

<div class="container">
    <div class="bs-example bs-example-standalone" data-example-id=dismissible-alert-js>
        <br/>&nbsp;
        <div class="alert alert-danger alert-dismissible fade in" role=alert>
            <button type=button class=close data-dismiss=alert aria-label=Close><span aria-hidden=true>&times;</span>
            </button>
            <h4>Oups... Un oubli ;-) ?</h4>
            <p>Merci de saisir au moins un caractère... Allez... Courage ! Lol :-).</p>
            <p>
            </p>
        </div>
    </div>
</div>

<?php
}
if ($this['lastValue']=='Dorojade') {
return Redirect::to('/divers/zics-doro',301);
}
}
?>
==
<div class="container jumbotron padding10 top30">
    <p>The title of this page is: <strong>{{ this.page.title }}</strong></p>

    {{ form_open({ request: 'onHandleForm' }) }}
    Please enter a string: <input type="text" name="value" placeholder="Saisir une Chaîne ici !"/>
    <input type="submit" value="Submit me!"/>
    {{ form_close() }}

    {% if lastValue is not empty %}
    <p>Last submitted value: <strong>{{ lastValue }}</strong></p>
    {% endif %}

    <h4>
      {#% (this.page.description is defined) ? 'test':'no' %} #}
    </h4>

    <hr>

    <h1>



    </h1>


    <h3>



      {% set md = 456 %}
      {{  debug(md) }}

      this.page.meta_description est
      {% if this.page.__isset('meta_description') and this.page.meta_description is not empty %}
        Rempli:<br>
        {{ this.page.meta_description }}
      {% else %}
        Vide
      {% endif %}


      {{ var_dump(this.page.settings) }}
      {{ var_dump(this.page.settings.meta_description) }}

      {% if not this.page.description is defined %}
        Page description: {{ var_dump(this.page.description) }}
        {{ this.page.description }}
      {% endif %}<br>


      {% set vara = 1110 %}
      {% if not (vara is defined) %}
        {% set vara = 1111 %}
      {% endif %}
      {{ vara == 111 ? vara : vara * 7 / 10 }}


    </h3>

<hr>

<h3>Sorties twig</h3>
{# 2do lire https://www.branchcms.com/learn/docs/developer/twig #}

<h4>Mémo de syntaxes particulièrement utiles</h4>

{% verbatim %}
  <pre>
      The ternary operator:

    <b>{{ foo ? 'yes' : 'no' }}</b>
    <b>{{ foo ?: 'no' }}</b> is the same as {{ foo ? foo : 'no' }}
    <b>{{ foo ? 'yes' }}</b> is the same as {{ foo ? 'yes' : '' }}

    ??: The null-coalescing operator:

    {# returns the value of foo if it is defined and not null,
    'no' otherwise #}
    <b>{{ foo ?? 'no' }}</b>

    String Interpolation¶

    String interpolation (#{expression}) allows any valid
    expression to appear within a double-quoted string.
    The result of evaluating that expression is inserted
    into the string:

    <b>{{ "foo #{bar} baz" }}
    {{ "foo #{1 + 2} baz" }}</b>
  </pre>
{% endverbatim %}


{% set var = 1..7 %}
{{ var_dump(var) }}

{{ var|join(', ') }}<br>

{{ ('a'..'g')|join(', ') }}
<hr>


{% set letters = [] %}
{% for letter in 'a'|upper..'z'|upper %}
  {% set letters = letters|merge({(letter): letter}) %}
  {{ letter }}
{% endfor %}<br>
{{ letters|join(', ')|lower }}
{# var_dump(letters) #}

</div>
