[viewBag]
title = "VSCode Settings"
url = "/doc/outils/vscode/vscode-settings"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<h1>Exemple de configuration</h1>


<h2>Fichier <strong>settings.json</strong> (Raccourci: <strong>Ctrl</strong> + <strong>,</strong>)</h2>

<h2>Paramètres de l'Espace de travail <span class="h4"><em>(Sur la droite)</em></span></h2>

<pre>{
	"files.exclude": {
		".github": true,
		".vscode": true,
		".well-known": true,
		"a/menu/node_modules": true,
		"node_modules": true,
		".editorconfig": true
	},
	"editor.wordWrap": "on"
}</pre>



<h2>Paramètres utilisateurs</h2>

<h2>Exemple pour une installation Linux <span class="h4"><em>(Kubuntu avec Xampp)</em></span></h2>

<p>N.b.: Évitez de copier/coller en bloc ces paramètres, mais comprenez leur sens (Au besoin avec l'aide de votre L.A.<sup>*</sup>) et adaptez alors le contenu de votre fichier</p>

<pre>
{
	"files.autoSave": "afterDelay",
	"editor.tabSize": 2,
	"php.validate.executablePath": "/opt/lampp/bin/php",
	"liveServer.settings.donotVerifyTags": true,
	"liveServer.settings.donotShowInfoMsg": true,
	"explorer.confirmDelete": false,
	"git.enableSmartCommit": true,
	"git.autofetch": true,
	"git.confirmSync": false,
	"gitProjectManager.baseProjectsFolders": [
		"/opt/lampp/htdocs"
	],
	"editor.wordWrap": "on",
	"window.title": "${dirty}${activeEditorMedium}${separator}${rootName}${separator}${appName}",
	"todo-tree.defaultHighlight": {
		"foreground": "green",
		"type": "none"
	},
	"todo-tree.customHighlight": {
		"TODO": {},
		"FIXME": {},
		"2do": {}
	},
		// List of tags
	"todo-tree.tags": [
		"2do"
	],
	"beautify.config":{
		"indent_size": 2,
		"indent_char": " ",
		"css": {
			"indent_size": 2
		},
	},
	"explorer.confirmDragAndDrop": false,
	"phpformatter.arguments": [
		"--rules=@PSR2",
		// "--level=psr2",
		// "--fixers=linefeed,short_tag,indentation"
	],
	"phpformatter.phpPath" : "/usr/local/bin/php",
	"phpformatter.pharPath" : "/usr/local/bin/php-cs-fixer",
	// "phpfmt.enable_auto_align": true,
	"phpformatter.composer": false,
	// 	"phpfmt.passes": [
	//  "PSR2KeywordsLowerCase",
	//  "PSR2LnAfterNamespace",
	//  "PSR2CurlyOpenNextLine",
	//  "PSR2ModifierVisibilityStaticOrder",
	//  "PSR2SingleEmptyLineAndStripClosingTag",
	//  "ReindentSwitchBlocks"
	//],
	//  "phpfmt.exclude": [
	//  "ReindentComments",
	//  "StripNewlineWithinClassBody"
	//],
	//"phpfmt.psr2": false,
	"material-icon-theme.showWelcomeMessage": false,
	"codestream.notifications": "all",
	"codestream.showInStatusBar": "left",
	"codestream.team": "c57",
	"codestream.showMarkers": true,
	"codestream.avatars": true,
	"codestream.email": "votre@gmail.com",
	"guides.enabled": false,
	"codestream.muteAll": false,
	"codestream.openCommentOnSelect": true,
	"editor.largeFileOptimizations": false,
	"breadcrumbs.enabled": true,
	"autoAlign.enabled": {
		"csv": true,
		"bsv": true,
		"php": true
	},
	"editor.multiCursorModifier": "ctrlCmd",
	"editor.minimap.enabled": true,
	"editor.renderWhitespace": "none",
	"editor.renderControlCharacters": false,
	"simple-php-cs-fixer.save": true,
	"simple-php-cs-fixer.config": "config/.php_cs.dist",
}	
</pre>



<p>Exemple pour une installation Windows-Laragon :</p>

<p>{</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"files.autoSave"<span>:&nbsp;</span>"afterDelay"<span>,</span></p>

<p>&nbsp; &nbsp; <span>"editor.tabSize"</span>: <span>2</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"editor.wordWrap"<span>:&nbsp;</span>"on"<span>,</span></p>

<p>&nbsp; &nbsp; <span>"explorer.confirmDelete"</span>: <span>false</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"terminal.integrated.shell.windows"<span>:&nbsp;</span>"C:<span>\\</span>laragon<span>\\</span>bin<span>\\</span>cmder<span>\\</span>cmder.exe"<span>,</span></p>

<p>&nbsp; &nbsp; <span>"window.title"</span>: <span>"${dirty}${activeEditorShort}${separator}${rootName}${separator}${activeEditorMedium}"</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"window.titleBarStyle"<span>:&nbsp;</span>"custom"<span>,</span></p>

<p>&nbsp; &nbsp; <span>"git.autofetch"</span>: <span>true</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"window.zoomLevel"<span>:&nbsp;</span>0<span>,</span></p>

<p>&nbsp; &nbsp; <span>"auto-comment-blocks.singleLineBlockOnEnter"</span>: <span>true</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"breadcrumbs.enabled"<span>:&nbsp;</span>true<span>,</span></p>

<p>&nbsp; &nbsp; <span>"editor.largeFileOptimizations"</span>: <span>false</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"liveServer.settings.donotVerifyTags"<span>:&nbsp;</span>true<span>,</span></p>

<p>&nbsp; &nbsp; <span>"liveServer.settings.donotShowInfoMsg"</span>: <span>true</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"git.confirmSync"<span>:&nbsp;</span>false<span>,</span></p>

<p>&nbsp; &nbsp; <span>"liveServer.settings.proxy"</span>: {</p>

<p><span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>"enable"<span>:&nbsp;</span>true<span>,</span></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; <span>"baseUri"</span>: <span>"/"</span>,</p>

<p><span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>"proxyUri"<span>:&nbsp;</span>"http://localhost/"</p>

<p><span>&nbsp; &nbsp; },</span></p>

<p>&nbsp; &nbsp; <span>"files.associations"</span>: {</p>

<p><span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>"*.htm"<span>:&nbsp;</span>"html"</p>

<p><span>&nbsp; &nbsp; },</span></p>

<p>&nbsp; &nbsp; <span>"git.enableSmartCommit"</span>: <span>true</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"editor.renderWhitespace"<span>:&nbsp;</span>"none"<span>,</span></p>

<p>&nbsp; &nbsp; <span>"explorer.confirmDragAndDrop"</span>: <span>false</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"sftp.printDebugLog"<span>:&nbsp;</span>true<span>,</span></p>

<p>&nbsp; &nbsp; <span>"fontAwesomeAutocomplete.patterns"</span>: [</p>

<p><span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>"**/*.html"<span>,</span></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; <span>"**/*.php"</span></p>

<p>&nbsp; &nbsp; ],</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"emmet.excludeLanguages"<span>: [</span></p>

<p>&nbsp; &nbsp; &nbsp; <span>"markdown"</span></p>

<p>&nbsp; &nbsp; ],</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"twig-language.tabSize"<span>:&nbsp;</span>2<span>,</span></p>

<p>&nbsp; &nbsp; <span>"twig-language-2.tabSize"</span>: <span>2</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"open-file-from-path.matchFileName"<span>:&nbsp;</span>true<span>,</span></p>

<p>&nbsp; &nbsp; <span>"prettier.eslintIntegration"</span>: <span>true</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"prettier.jsxBracketSameLine"<span>:&nbsp;</span>true<span>,</span></p>

<p>&nbsp; &nbsp; <span>"html.format.maxPreserveNewLines"</span>: <span>1</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"php.suggest.basic"<span>:&nbsp;</span>false<span>,</span></p>

<p>&nbsp; &nbsp; <span>"php.validate.enable"</span>: <span>false</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"phpfmt.detect_indent"<span>:&nbsp;</span>true<span>,</span></p>

<p>&nbsp; &nbsp; <span>"phpfmt.enable_auto_align"</span>: <span>true</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"phpmd.enabled"<span>:&nbsp;</span>true<span>,</span></p>

<p>&nbsp; &nbsp; <span>"phpfmt.indent_with_space"</span>: <span>2</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"phpcbf.executablePath"<span>:&nbsp;</span>"C:<span>\\</span>laragon<span>\\</span>www<span>\\</span>mvc<span>\\</span>vendor<span>\\</span>squizlabs<span>\\</span>php_codesniffer<span>\\</span>bin<span>\\</span>phpcbf.bat"<span>,</span></p>

<p>&nbsp; &nbsp; <span>"pomodoro.tasks_file"</span>: <span>"C:</span>\\<span>Users</span>\\<span>Li</span>\\<span>.vscode</span>\\<span>extensions</span>\\<span>yahya-gilany.vscode-pomodoro-1.0.3</span>\\<span>tasks.json"</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"pomodoro.counter_to_long_break"<span>:&nbsp;</span>4<span>,</span></p>

<p>&nbsp; &nbsp; <span>"pomodoro.long_break_duarion"</span>: <span>20</span>,</p>

<p><span>&nbsp; &nbsp;&nbsp;</span>"workbench.statusBar.feedback.visible"<span>:&nbsp;</span>false<span>,</span></p>

<p>&nbsp; }</p>

<br>
* Lignée d'Aide.