[viewBag]
title = "Édition c57"
url = "/doc/installation-serveur/edition-c57"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==

<h2 class="subheader ">Ou comment modifier n&apos;importe quelle page du site c57.fr</h2>
<p>Et en particulier toutes les pages de la doc.</p>

<p>3 façons distinctes pour procéder,  chacune suffisante en soi, mais qui, dans l&apos;idéal, peuvent être utilisées conjointement car complémentaires pour une efficacité optimales, et un contrôle total.</p>

<p><mark>Toutes ont un point commun: Elles doivent se <strong>conclure par une demande de fusion</strong> (<em>Merge Request)</em> dans la branche <em>dev</em>.</mark></p>
<div class="row">
  <div class="columns">
    <ul class="accordion" data-accordion>

<!-- 11111111111111111111111111111111111111111111111111111 GitLab -->
      <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Modification directement dans le dépôt officiel GitLab</a>
        <div class="accordion-content" data-tab-content >
          <p class="h3 subheader">La Technique directe</p>
          <ul><p><strong>Avantages:</strong></p>
            <li>Simplicité ultime: Pas besoin d&apos;installer quelqu&apos;outil que se soit,</li>
            <li>Possibilité d&apos;utiliser le <strong><em>WebEDI</em></strong>, l&apos;éditeur en ligne de GitLab, et bien-sûr, le service de fusion fourni d&apos;emblée.</li>
          </ul>
          <ul><p><strong>Inconvénients:</strong></p>
            <li>Si les opérations de corrections/modifications peuvent être ainsi très rapidement et directement effectuées, la création de nouvelles pages peut s&apos;avérer plus délicate (Mais tout à fait possible, penser simplement à adapter aussi le fichier         <code>themes/c57/meta/static-pages.yaml</code> pour que le menu soit adapté à vos pages),</li>
            <li>Nécessite (que) d&apos;avoir son compte chez GitLab.</li>
          </ul>
          <br>
          <p class="h3 subheader">Process:</p>
          <p>Cliquer alors simplement sur le crayon ci-dessus (Dans l&apos;entête) de chaque page pour modifier cette dernière tout ou partie.</p>
          <p><mark>Idéal pour effectuer rapidement une correction (d&apos;orthographe par exemple).</mark></p>
        </div>
      </li>


<!-- 222222222222222222222222222222222222222222222222222222222 Backend -->
      <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Modification depuis le Backend du site</a>
        <div class="accordion-content" data-tab-content >
          <p class="h3 subheader">La méthode intermédiaire</p>
          <ul><p><strong>Avantages:</strong></p>
            <li>Assez simple: Nécessite juste de forker le dépôt officiel et de clôner votre copie en local.<br>
            Pour cela, lire les instructions dans le fichier <code>README.md</code> à la racine du dépôt,</li>
            <li>Utilisation de toute la puissance des outils mis à disposition dans le backend (Éditeur Wysiwyg, gestionnaire de média, etc...), et donc, beaucoup plus de possibilités et facilités de bien gérer entre autre, la pagination des documents, et surtout, celles de créer de nouvelles pages, voire de nouveaux documents.</p>
            <p>Rappel de l&apos;URL du backend en local: <code>http://c57/be</code></p></li>

          </ul>
          <ul><p><strong>Inconvénients:</strong></p>
            <li>Même prérequis que la méthode directe (Avoir son compte GitLab), mais aussi en plus, la nécessité de mettre en place un serveur (Web + Base de données), composer et un outils Git local (Avoir vu ou voir la partie <a class="nofd" href="../outils">Outils</a>).</li>
          </ul>
          <br>
          <p class="h3 subheader">Process:</p>
          <p>Installer le site en local et effectuer alors la création de nouvelles pages, l&apos;édition de celles existantes et tous travaux de rédaction dans le backend, en local.</p>
          <p><mark>Idéal pour véritablement rédiger tous types d&apos;articles.</mark></p>
        </div>
      </li>


<!-- 333333333333333333333333333333333333333333333333333333333333333 VSC + NPM -->
     <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Modification avec l&apos;aide de toute la puissance de vos outils</a>
      <div class="accordion-content" data-tab-content >
        <p class="h3 subheader">La méthode complète</p>
        <ul><p><strong>Avantages:</strong></p>
          <li>Tous ceux des méthodes précédentes, plus accès au code informatique (code source) du site, et donc, la possibilité pour chacun de le modifier !</li>
          <li>À terme, pour VOUS: <strong>Contrôle TOTAL!</strong><br>
          En conséquences, <strong>possibilités</strong> de développements <strong>ILLIMITÉES.</strong></li>
        </ul>
        <ul><p><strong>Inconvénients:</strong></p>
          <li>Mêmes exigences que pour la méthode intermédiaires (Serveurs, outil Git, etc... en local), plus quelques autres outils, dont un ou plusieurs éditeurs (Avec quelques extensions), et outils de développement intégrés à votre navigateur.</li>
        </ul>
        <br>
        <p class="h3 subheader">Process:</p>
        <ol>
          <li>Apprendre,</li>
          <li>Apprendre,</li>
          <li>Apprendre encore,</li>
          <li>Et développer votre Appli / Site Web / etc...</li>
          <li>Et toujours apprendre !</li>
          <li>Puis améliorer vos précédents développements et/ou développer encore mieux d&apos;autres Applis / Sites Web / etc...</li>
          <li>Et juste... Recommencer les étapes 5 et 6 indéfiniment !</li>
        </ol>
        <br>
        <p>Quel drôle de Process, me direz-vous...!</p>
        <p class="text-justify">Le fait est qu&apos;il y a 10-15 ans et +, faire un site web nécessitait juste (au minimum toutetefois), la connaissance de quelques rares notions (langages de description / décoration / programmation, etc...)</p>
        <p>Aujourd&apos;hui, et ce n&apos;est en fait qu&apos;un début, ce sont des milliers de notions qui sont nécessaires...</p>
        <p>Mais un outil dément, qui n&apos;a pas 10 ans d&apos;ancienneté à ce jour, a vu le jour et celui-ci va démultiplier la capacité d&apos;apprentissage et de développement (d&apos;efficience concrète) de chacun...: <strong>Le <a class="nofd" href="https://fr.wikipedia.org/wiki/Git" target="_blank">Git</a></strong> ! - Merci au "papa" de Linux...)</p>
        <p><Aussi, c&apos;est ce que vous propose d&apos;exploiter au maximum c57.fr.../p>
        <p>Alors... Par où commencer ?</p>
        <p>Là, par exemple: <a class="nofd" href="../outils"><strong>Outils</strong></a>.</p>
        <p>Vous trouverez dans cette page une première petite série de vidéos pour, partant de rien, arriver à maîtriser de mieux en mieux tous ces nouveaux et puissants outils... Et pas seul, grâce au Git  (Et notez que même ces vidéos, vous pouvez les améliorer toujours...!!</p>
        <p><mark>Idéal pour... <strong>RÉALISER TOUT CE QUE VOUS VOULEZ</strong>, et dont seule votre imagination sera l&apos;unique limite!<br>
        Alors... À bientôt à travers vos demandes de Fusion dans <strong>c57.fr</strong>.</mark></p>
      </div>
    </li>



    </ul>
  </div>
</div>
