[viewBag]
title = "Installation c57"
url = "/doc/installation-serveur"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<h1>Install de c57</h1>
<!-- 2do Poser exemples c57 et pma /etc/hosts & httpd -->
<p>Suivre <a href="https://gitlab.com/c57fr/c57/blob/master/README.md" rel="noopener noreferrer" target="_blank">les directives du README</a></p>
