title = "Accueil"
url = "/"
layout = "une"
description = "Page Accueil de c57.fr"
is_hidden = 0

[derInscrits]
==
<?php
function onStart() {
 // ici code d'import du css + js de bootstrap juste pour cette page
 $this->addJs('assets/js/homepage.js');

//$this['lienDiscord'] = '<p><a href="https://discordapp.com/channels/423853760939556865/487927880035336212" target="_blank" title="Venez discuter en live">Canal Discord de c57</a></p>';
}
?>
==
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">

        {# <p class="mark"><i class="noir far fa-1x fa-angry"></i><br>Attention: Partie en cours de developpement<br><i class="far fa-1x fa-smile-wink"></i></p> #}

        <h4 class="modal-title w-100 font-weight-bold">S&apos;identifier</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Mot de passe</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
        {# <p class="mark"> <i class="noir far fa-2x fa-angry"></i><br>
          Attention: Partie en cours de developpement <i class="far fa-1x fa-smile-wink"></i></p> #}
      </div>
    </div>
  </div>
</div>

<section id="layout-content" class="container clearfix">
  <div class="main">
    <h1 class="spaceTopSite">C57.fr,</h1>
    <p id="slogan">LA réponse.</p>

    <!--
      <br/>
      <div style="position: relative; top: 50%; height: 100%; width:77%; margin: 20px auto; padding-top:10px; text-align: center; border: 3px solid orange; border-radius:7px;">
        <h3><a href="https://insiders.liveshare.vsengsaas.visualstudio.com/join?0157CCF593681700625A2C75DEA1BCC8ED7F" target="_blank"><i style="vertical-align: middle;" class="fa fa-2x fa-code"></i> Session Co-coding 'En cours'</a></h3>
      </div>
    -->
    <br>

    <h3>Apprenez par l'action ! <a href="https://gitlab.com/c57fr/c57" title=" LE dépôt GitLab de c57.fr

      Rappel: Cliquer sur 'Fork'...

      ... Et: Clôner VOTRE dépôt !

      (Prérequis: La Doc c57) ">

        Dépôt GitLab*
      </a></h3>

    <i>* Installation en 2 lignes de commandes !</i>
    <br>&nbsp;

    <!-- <div class="resserre">
      <h4><a href="faq" title="Avant, merci de lire notre page Questions Fréquentes...">Besoin d'aide? Une question? Une attente ou une requête?</a></h4>
    </div> -->
    <!-- Slogan suivant à changer ( => + général) à terme... -->

    <p><em id="intro">Le Developpement Informatique (Et pas que !), c'est maintenant et enfin pour tout le
        monde...<br />
        ... Et en plus, avec la puissance des logiciels<a href="https://fr.wikipedia.org/wiki/Open_source"
          target="_blank" class="ext">Open-Sources.</a><br />
        <span class="accron">C</span>'est en <span class="accron">5</span> - <span class="accron">7</span>..<span
          class="accron">.</span>
        Rapide, facile, même pour les 'pures' <span class="accron">fr</span>ancophones !</em></p>

    {# {{ lienDiscord|raw }} #}
    <h2>
      {# 2do Chatroom en privé dès filiation OK #}
      <a href="https://c57.slack.com/"
        class="btn" id="chatroom" target="_blank">ChatRoom</a>
    </h2>

    <hr>

    {% component 'derInscrits' %}

    <hr>

    {#
        To see Tuto menu multi sub (flexbox)
          https://damienflandrin.fr/blog/post/tutoriel-realiser-un-menu-responsive-avec-flexbox
          http://www.frogweb.fr/menu-deroulant-horizontal/
      #}

  </div>
</section>
