title = "Vidéos"
url = "/videos"
layout = "une"
description = "Chaîne YouTube"
is_hidden = 0
show_menu = 0

[latestVideos]
channel_id = "UCMXVD5JxGJe-SI8Q0UR2AdQ"
max_items = 12
thumb_resolution = "medium"
==
<?php
function onStart(){
    //Debugbar::disable();
}
?>
==
{#{{ debug(latestVideos) }}#}
{#<br/>&nbsp;#}
<div class="container" style="text-align: center">
    <h1>Vidéos issues de la <a target="_blank" title=" Voir la caine YouTube... " href="https://www.youtube.com/playlist?list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP">chaîne YouTube</a></h1>

    {% component 'latestVideos' %}

</div>

{#{{ debug(maVar, var1, var2) }} #}

{#
Explication de JS pour contrôler vidéos Youtube
<iframe id="ytplayer" type="text/html" width="640" height="390"
        src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"
        frameborder="0"/>
#}
