@charset "UTF-8";
body {
  font-family: arial, 'roboto', 'Comic Sans MS', arial, sans-serif;
  background-color: cornsilk;
  color: #555;
}

header {
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

.main {
  text-align: center;
  /* c57.fr mis en évidence dans le texte */
}

.main h1 {
  font-family: arial, 'roboto', serif;
  font-size: 64px;
  margin: 50px 0 50px 0;
  text-shadow: 1px 2px 0 orange;
}

.main p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 1.1em;
}

.main div {
  width: 97%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main a:link,
.main a:visited,
.main a:active {
  color: #34536a;
}

.main span.accron {
  margin: 0;
  font-weight: 800;
  font-size: 1.2em;
  color: #555;
  text-shadow: 1px 1px 0 orange;
  font-weight: bold;
  letter-spacing: 1px;
}

.main span.accron:nth-of-type(4) {
  font-size: 2.5em;
  margin-left: -2px;
  line-height: .1;
}

.main #intro {
  padding: 20px;
  display: block;
  color: #555;
  font-size: 0.9em;
  border: 2px solid #eee;
  border-radius: 7px;
  max-width: 77%;
  min-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #fff !important;
  -webkit-box-shadow: #ddd 0 0 20px 10px;
          box-shadow: #ddd 0 0 20px 10px;
}

@media (max-width: 830px) {
  .main #intro {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .main #intro {
    min-width: 0;
    width: 100%;
  }
}

.main .btn#chatroom {
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff !important;
  background-color: #9c8162;
  /* border: 3px solid #000; */
  border-radius: 7px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border: 3px solid #9c8162;
  -webkit-transition: 7s;
  transition: 7s;
}

.main .btn#chatroom:hover {
  color: #7d674e !important;
  background-color: transparent;
  -webkit-transition: .7s;
  transition: .7s;
}

a {
  font-weight: bold;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 5px;
  border-radius: 7px;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-transition: 7s;
  transition: 7s;
}

a:hover {
  color: red;
  background-color: #ff0;
  border-style: outset;
  border-color: orange;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover.ext {
  background-color: cyan;
}

@media (min-width: 576px) {
  .container {
    max-width: inherit;
  }
}

.comaSeparate {
  color: #000;
}
/*# sourceMappingURL=style.css.map */