description = "BEA login layout"

[session]
security = "all"
==
<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61289532-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-61289532-1');
  </script>
  <meta charset="utf-8">
  <meta name="title" content="{{ this.page.meta_title }}">
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="author" content="C57">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif'|theme }}">
  <link rel="icon" type="image/gif" href="{{ 'assets/images/favicon.ico'|theme }}">

  <!--Cf. BEA pour last fontawesome -->
  <!-- Font Awesome -->
  <a href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="{{ 'assets/dist/css/cai/bootstrap.min.css'|theme }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ 'assets/dist/css/cai/mdb.min.css'|theme }}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ 'assets/dist/css/bea/style.css'|theme }}" rel="stylesheet">
</head>

<body class="fixed-sn light-blue-skin">

  {# {% partial "cai/header" %} #}

  {% page %}

  {% partial "une/footerc57" %}

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{{ 'assets/dist/js/cai/jquery-3.2.1.min.js'|theme }}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ 'assets/dist/js/cai/popper.min.js'|theme }}"></script>
  <!-- Bootstrap core JavaScript -->
  {# <script type="text/javascript" src="{{ 'assets/dist/js/cai/bootstrap.min.js'|theme }}"></script> #}
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ 'assets/dist/js/cai/mdb.min.js'|theme }}"></script>

</body>

</html>