description = "Ori Static Layout des pages Doc"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "mainmenudoc"

[simpleMenu]
main-ul-class = "nav navbar-nav"
active-class = "active"
==
<?php
function onStart(){

    // Pour tuer le cash en prod
    \Artisan::call('cache:clear');
    \Artisan::call('view:clear');

}
?>
==
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>{{this.page.title}}
        | Doc c57</title>

    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="C57">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/gif" href="{{ 'assets/images/animated_favicon.gif'|theme }}">
    <link rel="icon" type="image/gif" href="{{ 'assets/images/favicon.ico'|theme }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="{{ 'assets/dist/css/bootstrap-4-hover-navbar.css'|theme }}" rel="stylesheet">

    <!--<link href="{{ ['assets/dist/css/doc/hacker.css','assets/dist/css/doc/all.css']|theme }}" rel="stylesheet">-->
    <link href="{{ ['assets/dist/css/doc/all.css','assets/dist/css/doc/hacker.css']|theme }}" rel="stylesheet">

    <style>
        .navbar {
            margin: 20px 0;
        }

        .jumbotrono {
            text-align: center;
            min-height: 0;
            background-color: #1f1f1f;
            padding-top: 20px;
            padding-bottom: 0;
        }

        .jumbotron h1 {
            color: blue;
        }
    </style>

</head>

<body>

{% partial "doc/header" %}

{% component 'simpleMenu' %}

{% partial "doc/mainMenuDoc" %}

<section id="layout-content" class="container clearfix">

    {#
    <div class="row"> #}
        <!-- Main page content -->
        {% component 'staticPage' %}
        {#
    </div>
    #}

</section>

{% partial "une/footerc57" %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{#
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
#}

<script src="{{'assets/dist/js/bootstrap-4-hover-navbar.js'|theme}}"></script>

{% framework extras %}
{% scripts %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();

  /*
    function toggleDropdown (e) {
    let _d = $(e.target).closest('.dropdown'),
        _m = $('.dropdown-menu', _d);
    setTimeout(function(){
        let shouldOpen = e.type !== 'click' && _d.is(':hover');
        _m.toggleClass('show', shouldOpen);
        _d.toggleClass('show', shouldOpen);
        $('[data-toggle="dropdown"]', _d).attr('aria-expanded', shouldOpen);
    }, e.type === 'mouseleave' ? 300 : 0);
    }

    $('body')
    .on('mouseenter mouseleave','.dropdown',toggleDropdown)
    .on('click', '.dropdown-menu a', toggleDropdown);
  */



;(function( $, window, document, undefined )
{
	$.fn.doubleTapToGo = function( params )
	{
		if( !( 'ontouchstart' in window ) &&
			!navigator.msMaxTouchPoints &&
			!navigator.userAgent.toLowerCase().match( /windows phone os 7/i ) ) return false;

		this.each( function()
		{
			var curItem = false;

			$( this ).on( 'click', function( e )
			{
				var item = $( this );
				if( item[ 0 ] != curItem[ 0 ] )
				{
					e.preventDefault();
					curItem = item;
				}
			});

			$( document ).on( 'click touchstart MSPointerDown', function( e )
			{
				var resetItem = true,
					parents	  = $( e.target ).parents();

				for( var i = 0; i < parents.length; i++ )
					if( parents[ i ] == curItem[ 0 ] )
						resetItem = false;

				if( resetItem )
					curItem = false;
			});
		});
		return this;
	};
})( jQuery, window, document );
})
</script>
</body>
</html>