[viewBag]
title = "GitLab"
url = "/doc/outils/gitlab"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<h1><img src="./../../../../a/img/logo_gitlab.png" alt="logo Gitlab" width="50" class="fr-fic fr-dii">&nbsp;GitLab</h1>
<section><a href="https://gitlab.com/users/sign_in?redirect_to_referer=yes" rel="noopener noreferrer" target="_blank" title=" Site Web de GitLab ">Avoir un compte <strong>G</strong>it<strong>L</strong>ab</a>
	<a alt=" Vidéo installation AMPPS " href="https://www.youtube.com/watch?v=Vqh_rFm_PcM&amp;list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP&amp;index=4" target="_blank" title=" Cliquer pour voir la

       Vidéo sur GL "><img src="/storage/app/media/uploaded-files/linux_logo.png" style="height: 40px;" class="fr-fic fr-dii"></a>
	<a alt=" Capture pour s'enregistrer dans Gitlab " href="http://c57.fr/storage/app/media/FormationC57/gitlab_register.png" target="_blank" title=" Capture pour s'enregistrer dans Gitlab

       Cliquer dessus pour agrandir "><img src="http://c57.fr/storage/app/media/FormationC57/gitlab_register.png" class="fr-fic fr-dii"></a>
	<div class="tac">
		<br>▼</div>
</section>
<section><img src="http://c57.fr/storage/app/media/FormationC57/confirm_gl.png" class="fr-fic fr-dii"></section>
<section class="tac">
	<br>* * * * *
	<br>
	<br><img src="../../../../a/img/git_important.jpg" alt="" width="300px" class="fr-fic fr-dii"></section>