[viewBag]
title = "Outils"
url = "/doc/outils"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<section class="pageDoc">

	<h1>Installer un environnement de développement</h1>

	<p>Pour chaque étape, exemples en vidéo pour</p>

	<table style="width: 100%;">
		<tbody>
			<tr>
				<td style="width: 50.0000%;">
					<div style="text-align: center;"><img src="/storage/app/media/uploaded-files/windows_logo.png" style="height: 40px;" class="fr-fic fr-dii">&nbsp; Windows</div>
				</td>
				<td>&amp;
					<br>
				</td>
				<td style="width: 50.0000%;">
					<div style="text-align: center;"><img src="/storage/app/media/uploaded-files/linux_logo.png" style="height: 40px;" class="fr-fic fr-dii">&nbsp;Kubuntu</div>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
<hr>

<h4><mark>NOUVELLE VIDÉO</mark></h4>
<br>
<section class="pageDoc" style="text-align: center">
	<a href="https://www.youtube.com/watch?v=nxNbVAncfVQ&amp;list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP&amp;index=1%22" title=" Voir la vidéo pour installer
 Kubuntu dans une VirtualBox " target="_blank">
	<img src="/storage/app/media/uploaded-files/logo_ovb.png" style="width: 100px;" class="fr-fic fr-dib" data-result="success">

	<h3 style="text-align: center">
			<span style="font-weight: 700;">Utiliser Kubuntu sous Windows</span></a><br>
		En moins d'un quart d'heure* !
	</h3>
</section>

	<br>
	<br>

	<h2>Base des outils recommandés</h2>

	<ul>
		<li>

			<h3>1 Préparation du PC</h3>

			<p>Installation Chrome (Chromium pour Linux, installé via cCleaner pour Win, ), défini en tant que navigateur par défaut,
				<br>Nettoyage barre des tâches &amp; bureau</p>

			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 50%; text-align: center;">
							<a alt=" Vidéo installation cCleaner &amp; Chrome " href="https://www.youtube.com/watch?v=xALd0yLho7w" target="_blank" title=" Cliquer pour voir la

 Vidéo installation cCleaner &amp; Chrome "><img src="/storage/app/media/uploaded-files/windows_logo.png" style="width: 70px; height: 70px;" class="fr-fic fr-dib" data-result="success"></a>
							<br>
						</td>
						<td class="lb" style="width: 50%; text-align: center;">
							<a alt=" Vidéo installation cCleaner &amp; Chrome " href="https://www.youtube.com/watch?v=fKE-PMkRfPg&amp;index=2&amp;list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP" target="_blank" title=" Cliquer pour voir la

 Vidéo installation Stacer &amp; Chromium "><img src="/storage/app/media/uploaded-files/linux_logo.png" style="height: 70px;" class="fr-fic fr-dib" data-result="success"></a>
							<br>
						</td>
					</tr>
					<tr>
						<td style="width: 50.0000%;">
							<div data-empty="true">
								<br>
							</div>
						</td>
						<td class="lb" style="width: 50.0000%;">
							<div style="text-align: center;">Voir aussi la <a alt=" Vidéo installation cCleaner &amp; Chrome + 20.000 Light Years " href="https://www.youtube.com/watch?v=JpnqUzjX5CE&amp;t=3s" target="_blank" title=" Cliquer pour voir la vidéo pour installation
 Stacer &amp; Chromium  + 20.000 Light Years ">version longue</a><span style="text-align: center;"><br>&nbsp;(Inclus: <em>20.000 Light Years</em>)</span></div>
						</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li>

			<h3>2. Serveur local</h3>

			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 50%; text-align: center;">
							<a alt=" Vidéo installation Laragon &amp; VH " href="https://www.youtube.com/watch?v=EC28MgOYv4c" target="_blank" title=" Cliquer pour voir la

 Vidéo installation Laragon &amp; VH "><img src="/storage/app/media/uploaded-files/windows_logo.png" style="width: 70px; height: 70px;" class="fr-fic fr-dii"></a>
							<br>
						</td>
						<td class="lb" style="width: 50%; text-align: center;">
							<a alt=" Vidéo installation AMPPS " href="https://www.youtube.com/watch?v=YGPjL7hthhU&amp;list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP&amp;index=3" target="_blank" title=" Cliquer pour voir la

 Vidéo installation AMPPS "><img src="/storage/app/media/uploaded-files/linux_logo.png" style="height: 70px;" class="fr-fic fr-dii"></a>
							<br>
						</td>
					</tr>
					<tr>
						<td style="width: 50.0000%; text-align: center;">Architecture <a href="https://laragon.org/download/" target="_blank" title=" Lien direct pour télécharger Laragon ">'Laragon-Wamp'</a>
							<br><a href="/doc/outils/laragon">+ d'infos</a>
							<br>
						</td>
						<td class="lb" style="width: 50.0000%; text-align: center;"><a alt=" Vidéo installation AMPPS " href="http://ampps.com/downloads" target="_blank" title=" Lien direct pour télécharger AMPPS ">'AMPPS'</a>
							<br><a href="/doc/outils/ampps">+ d'infos</a>
							<br>
						</td>
					</tr>
				</tbody>
			</table>=&gt; Réalisation de
			<mark>votre première page Web</mark>!
			<br>
			<br>
		</li>
		<li>

			<h3>3 Outils Git &amp; Éditeur</h3>

			<table>
				<tbody>
					<tr>
						<td colspan="2" style="text-align: center;">Pré-requis
							<br>
						</td>
					</tr>
					<tr>
						<td style="width: 50.0000%; text-align: center;"><a href="/doc/outils/gitlab" title=" Détails sur GitLab ">
							<img src="./../../../../a/img/logo_gitlab.png" alt="logo Gitlab" width="50px"><br>
							<strong>G</strong>it<strong>L</strong>ab</a>
							<br>
						</td>
						<td style="width: 50.0000%; text-align: center;">
							<a href="/doc/outils/gitkraken" title=" Détails sur GitKraken ">
								<img src="./../../../../a/img/logo_gitkraken.png" alt="logo GitKranken" width="50px"><br>
								<strong>G</strong>it<strong>K</strong>raken</a>
							<br>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;"><a href="/doc/outils/vscode" title=" Détails sur VSCode ">
							<img src="./../../../../a/img/logo_vsc.png" alt="logo VSCode" width="50px"><br>
							<strong>V</strong>isual <strong>S</strong>tudio <strong>C</strong>ode</a>
							<br>(Avec plugins, dont '<strong>L</strong>ive <strong>S</strong>erver' &amp; LS Share)
							<br>
						</td>
					</tr>
				</tbody>
			</table>

			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 50.0000%; text-align: center;">
							<a alt=" Vidéo installation GK &amp; VSC " href="https://www.youtube.com/watch?v=uIeISqIp698&amp;t=462s" target="_blank" title=" Cliquer pour voir la

                 Vidéo installation  GK &amp; VSC "><img src="/storage/app/media/uploaded-files/windows_logo.png" style="height: 70px;" class="fr-fic fr-dii"></a>
							<br>
						</td>
						<td class="lb" style="width: 50%; text-align: center;">
							<a alt=" Vidéo installation AMPPS " href="https://www.youtube.com/watch?v=Vqh_rFm_PcM&amp;list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP&amp;index=4" target="_blank" title=" Cliquer pour voir la

 Vidéo sur GL, GK &amp; VSC

  ( 3 modules ) "><img src="/storage/app/media/uploaded-files/linux_logo.png" style="height: 70px;" class="fr-fic fr-dii"></a>
							<br>
						</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li>

			<h3>4 Échanges, collaboration &amp; suivi d'activité</h3>
			<!-- 2DoLi @ l'occase:
cf. pb url c57 transformé / webpack (uniquement pour localhost:3000)  -->

			<p><a href="https://c57.slack.com/messages/CD1RJNGF7/" title=" Notre ChatRoom " target="_blank">Slack</a>
				<br>Créer compte + install APP / smartphone - <a href="/doc/outils/slack">+ d'infos</a></p>
		</li>
  </ul>

  <br>
  *: En fonction de la puissance de votre machine.
</section>

<!--
  à ajouter ds nouvelle page doc-git
  
  
  Pour effacer historique d'un dépôt
  
  Delete Commit History in Github Repository

Follow the below steps to complete this task.

Warning: This will remove your old commit history completely, You can’t recover it again.

    Create Orphan Branch – Create a new orphan branch in git repository. The newly created branch will not show in ‘git branch’ command.

    git checkout --orphan temp_branch

    Add Files to Branch – Now add all files to newly created branch and commit them using following commands.

    git add -A
    git commit -am "the first commit"

    Delete master Branch – Now you can delete the master branch from your git repository.

    git branch -D master

    Rename Current Branch – After deleting the master branch, let’s rename newly created branch name to master.

    git branch -m master

    Push Changes – You have completed the changes to your local git repository. Finally, push your changes to remote (Github) repository forcefully.

    git push -f origin master

  
  
-->
