[viewBag]
title = "VSCode"
url = "/doc/outils/vscode"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==
<p>// 2do Add lien de cette page https://code.visualstudio.com/docs/getstarted/tips-and-tricks</p>

<h1><img src="./../../../../a/img/logo_vsc.png" alt="logo VSCode" width="50" class="fr-fic fr-dii"> <strong>V</strong>isual <strong>S</strong>tudio <strong>C</strong>ode</h1>

<h3><a href="https://code.visualstudio.com" target="_blank" title=" Site Web de Visual Studio Code "><strong>V</strong>isual <strong>S</strong>tudio <strong>C</strong>ode</a>, un Éditeur exceptionnel
	<a href="https://www.youtube.com/watch?v=taTTtkf9As4&amp;t=0s&amp;index=7&amp;list=PL9DeR6N_lL9zdwkF7X5xsjGwIr8ZnotjP" target="_blank" title=" Cliquer pour voir la

Vidéo sur VSC "><img src="/storage/app/media/uploaded-files/linux_logo.png" style="height: 40px;" alt=" Vidéo installation VSC " class="fr-fic fr-dii"></a></h3>

<p>Visiter un lien pour l'effacer, vider l'historique du navigateur pour re-initialiser les liens (Ctrl + h sous Chrome/chromium)</p>

<h3>Extensions (<em>Plugins</em>)</h3>
<hr>

<h5>Les Indispensables (Testées et classées par préférences)</h5>
<div class="suivi">

	<ol>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-fr" rel="noopener noreferrer" target="_blank">French Language</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=SaugatMaharjan.nativeemmet" rel="noopener noreferrer" target="_blank">nativeEmmet</a> (Cf. <a href="https://docs.emmet.io/abbreviations/syntax/" target="_blank">Doc
Emmet</a> &amp; <a href="https://docs.emmet.io/cheat-sheet/" target="_blank">Astuces</a>)</li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" rel="noopener noreferrer" target="_blank">Live Server</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-complete-tag" rel="noopener noreferrer" target="_blank">Auto Complete Tag</a>, <a href="https://marketplace.visualstudio.com/items?itemName=eprincev-egor.toggle-upper-case" rel="noopener noreferrer" target="_blank">toggle-upper-case</a> (Ctrl + u) &amp; <a href="https://marketplace.visualstudio.com/items?itemName=yatki.vscode-surround" rel="noopener noreferrer" target="_blank">Surround</a><span>&nbsp;</span>(ctrl+shift+T)</li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=mhutchie.git-graph" rel="noopener noreferrer" target="_blank">Git Graph</a> -<a href="/doc/outils/vscode/vscode-settings/git-graph">&nbsp;<strong>Tuto</strong></a>
			<br>(Optimisation optionnelle: <a href="https://www.npmjs.com/package/ungit" target="_blank">Installer aussi Ungit</a> dans votre système d'exploitation)</li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=karigari.chat" target="_blank">Team Chat</a> ou <a href="https://marketplace.visualstudio.com/items?itemName=CodeStream.codestream" target="_blank">CodeStream</a> (En bêta-test)</li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.todo-tree" target="_blank">Todo Tree</a></li>
	</ol>
	<hr>

	<h5>Les Très Recommandées (Testées et classées par Séries)</h5>

	<ul>
		<li>Édition

			<ol>
				<li><a href="https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.align-mode" target="_blank">Auto Align</a> et <a href="https://marketplace.visualstudio.com/items?itemName=wwm.better-align" target="_blank">Better Align</a></li>
			</ol>
		</li>
		<li>
			<br>
		</li>
		<li>Markdown

			<ol>
				<li><a href="https://marketplace.visualstudio.com/items?itemName=hnw.vscode-auto-open-markdown-preview" rel="noopener noreferrer" target="_blank">Auto-Open Markdown Preview</a></li>
				<li><a href="https://marketplace.visualstudio.com/items?itemName=yzhang.markdown-all-in-one" rel="noopener noreferrer" target="_blank">Markdown All in One</a></li>
				<li><a href="https://marketplace.visualstudio.com/items?itemName=bierner.markdown-preview-github-styles" rel="noopener noreferrer" target="_blank">Markdown Preview Github Styling</a></li>
				<li><a href="https://marketplace.visualstudio.com/items?itemName=mdickin.markdown-shortcuts" target="_blank">Markdown
Shortcuts</a></li>
				<li><a href="https://marketplace.visualstudio.com/items?itemName=vstirbu.vscode-mermaid-preview" rel="noopener noreferrer" target="_blank">Mermaid Preview</a></li>
			</ol>
		</li>
		<li>
			<br>
		</li>
		<li>JS</li>
		<li>
			<br>
		</li>
		<li>PHP

			<ol>
				<li><a href="https://marketplace.visualstudio.com/items?itemName=calebporzio.simple-php-cs-fixer#qna" target="_blank">Simple
PHP CS Fixer</a> - <a href="/doc/outils/vscode/vscode-settings/simple-php-cs-fixer">Config</a></li>
			</ol>
		</li>
		<li>
			<br>
		</li>
		<li>Co-coding

			<ol>
				<li><a href="https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare-pack" rel="noopener noreferrer" target="_blank">VS Live Share Extension Pack</a></li>
			</ol>
		</li>
	</ul>
	<hr>

	<h5>Sous Réserves (Classées par ordre alphabétique)</h5>

	<ol>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=patbenatar.advanced-new-file" rel="noopener noreferrer" target="_blank">advanced-new-file</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-apache" target="_blank">Apache Conf</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=kevinkyang.auto-comment-blocks" rel="noopener noreferrer" target="_blank">Auto Comment Blocks</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=michelemelluso.code-beautifier" rel="noopener noreferrer" target="_blank">Beautify css/sass/scss/less</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=thekalinga.bootstrap4-vscode" rel="noopener noreferrer" target="_blank">Bootstrap 4, Font awesome 4,&nbsp;</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=AESSoft.aessoft-class-autocomplete" rel="noopener noreferrer" target="_blank">Autocomplete HTML</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=predrag-nikolic.php-class-helper" rel="noopener noreferrer" target="_blank">Class Helper</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=Compulim.compulim-vscode-closetag" rel="noopener noreferrer" target="_blank">Close HTML/XML tag</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=mikestead.dotenv" rel="noopener noreferrer" target="_blank">DotENV</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=rexebin.f12-open-file" rel="noopener noreferrer" target="_blank">F12: Open File</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=Shawn.file-name-search" rel="noopener noreferrer" target="_blank">File Name Search</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=DaGhostman.vs-treeview" rel="noopener noreferrer" target="_blank">File Tree View</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=sleistner.vscode-fileutils" rel="noopener noreferrer" target="_blank">File Utils</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=Janne252.fontawesome-autocomplete" rel="noopener noreferrer" target="_blank">Font Awesome Auto-complete &amp; Preview</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=rifi2k.format-html-in-php" rel="noopener noreferrer" target="_blank">Format HTML in PHP</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-git-history" rel="noopener noreferrer" target="_blank">Git File History</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=vincaslt.highlight-matching-tag" rel="noopener noreferrer" target="_blank">Highlight Matching Tag</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=sidthesloth.html5-boilerplate" rel="noopener noreferrer" target="_blank">HTML Boilerplate</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=AndersEAndersen.html-class-suggestions" rel="noopener noreferrer" target="_blank">HTML Class Suggestions</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css" target="_blank">HTML CSS
Support</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=tht13.html-preview-vscode" rel="noopener noreferrer" target="_blank">HTML Preview</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=abusaidm.html-snippets" rel="noopener noreferrer" target="_blank">HTML Snippets</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=hwencc.html-tag-wrapper" rel="noopener noreferrer" target="_blank">html tag wrapper</a> (ctrl+shift+i)</li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=kaiwood.indentation-level-movement" rel="noopener noreferrer" target="_blank">Indentation Level Movement</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=Zignd.html-css-class-completion" rel="noopener noreferrer" target="_blank">IntelliSense for CSS</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=shinnn.standard" rel="noopener noreferrer" target="_blank">JS
"Standard" Linter</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=bierner.lit-html" rel="noopener noreferrer" target="_blank">lit-html</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-multiclip" rel="noopener noreferrer" target="_blank">Multiple clipboards for VSCode</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=eg2.vscode-npm-script" rel="noopener noreferrer" target="_blank">npm</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=christian-kohler.npm-intellisense" rel="noopener noreferrer" target="_blank">npm Intellisense</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=dqsully.octobercms-template-language" rel="noopener noreferrer" target="_blank">OctoberCMS Template Language</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=Fr43nk.seito-openfile" rel="noopener noreferrer" target="_blank">Open file</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=jack89ita.open-file-from-path" rel="noopener noreferrer" target="_blank">Open file From Path</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=techer.open-in-browser" rel="noopener noreferrer" target="_blank">open in browser</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=bcanzanella.openmatchingfiles" rel="noopener noreferrer" target="_blank">Open Matching Files</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=ryu1kn.partial-diff" rel="noopener noreferrer" target="_blank">Partial Diff</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=ionutvmi.path-autocomplete" rel="noopener noreferrer" target="_blank">Path Autocomplete</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-debug" rel="noopener noreferrer" target="_blank">PHP Debug</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=vincentkos.php-docblock-generator" rel="noopener noreferrer" target="_blank">Php DocBlock Generator</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-pack" rel="noopener noreferrer" target="_blank">PHP Extension Pack</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=Sophisticode.php-formatter" rel="noopener noreferrer" target="_blank">PHP Formatter</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=phproberto.vscode-php-getters-setters" rel="noopener noreferrer" target="_blank">PHP Getters &amp; Setters</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=bmewburn.vscode-intelephense-client" rel="noopener noreferrer" target="_blank">PHP Intelephense</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-intellisense" rel="noopener noreferrer" target="_blank">PHP IntelliSense</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=HvyIndustries.crane" target="_blank">PHP
Intellisense - Crane</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=small.php-ci" rel="noopener noreferrer" target="_blank">PHP
intellisense for codeigniter</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=MehediDracula.php-namespace-resolver" rel="noopener noreferrer" target="_blank">PHP Namespace Resolver</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=phiter.phpstorm-snippets" rel="noopener noreferrer" target="_blank">PHP Snippets from PHPStorm</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=ikappas.phpcs" rel="noopener noreferrer" target="_blank">phpcs</a> (Laisser désactivée si pas réglée)</li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=kokororin.vscode-phpfmt" rel="noopener noreferrer" target="_blank">phpfmt - PHP formatter</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=jebbs.plantuml" rel="noopener noreferrer" target="_blank">PlantUML</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode" rel="noopener noreferrer" target="_blank">Prettier - Code formatter</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=mohsen1.prettify-json" rel="noopener noreferrer" target="_blank">Prettify JSON</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=AlanWalk.quick-open-file" rel="noopener noreferrer" target="_blank">Quick Open File</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=robinbentley.sass-indented" rel="noopener noreferrer" target="_blank">Sass</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=brainfit.split-lines" rel="noopener noreferrer" target="_blank">Split Lines</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=chenxsan.vscode-standardjs" rel="noopener noreferrer" target="_blank">StandardJS - JavaScript Standard Style</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=whatwedo.twig" rel="noopener noreferrer" target="_blank">Twig</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=mblode.twig-language" rel="noopener noreferrer" target="_blank">Twig Language</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=mblode.twig-language-2" rel="noopener noreferrer" target="_blank">Twig Language 2</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=bajdzis.vscode-twig-pack" rel="noopener noreferrer" target="_blank">TWIG pack</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=cerzat43.twigcs" target="_blank">Twigcs Linter</a></li>
		<li><a href="https://marketplace.visualstudio.com/items?itemName=qinjia.view-in-browser" rel="noopener noreferrer" target="_blank">View In Browser</a></li>
	</ol>
</div>

<h4>Réglages</h4>

<ol>
	<li>Activer Fichier &gt; Enregistrement automatique</li>
	<li>Concernant php path</li>
	<li>Type fichier October =&gt; HTML</li>
</ol>

<p><a href="/doc/outils/vscode/vscode-extensions">Voir un fichier exemple des settings</a></p>