[viewBag]
title = "Foundation"
url = "/doc/tests/foundation"
layout = "doc"
is_hidden = 0
navigation_hidden = 0
==

<h2>Grid &amp; Flex de Fdtn</h2>

<div class="grid-x grid-padding-x align-stretch align-justify subheader">
  <div class="cell small-1 text-right">*:</div>
  <div class="cell small-11 text-justify">Sinon, "(EN)" précisé</div>
  <div class="cell align-middle small-1 text-right">**:</div>
  <div class="cell small-11 text-justify">Testez vos connaissances</div>
</div>

<hr>

<div class="grid-x grid-padding-x align-stretch align-justify subheader">
	<div class="cell small-1 text-right">*:</div>
	<div class="cell small-11 text-justify">Sinon, "(EN)" précisé
		<br>
		<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto exercitationem sit ex aliquid ea sint atque dolor mollitia quisquam ullam commodi architecto tenetur officia, minima quae adipisci quod nulla amet iste nihil dignissimos libero. Dolores omnis culpa amet, mollitia nesciunt nostrum architecto, dolor voluptatibus, incidunt blanditiis id consectetur autem at exercitationem iure quod corporis. Eaque harum voluptate aperiam incidunt deleniti, consectetur minus ipsam nihil totam tenetur atque alias laboriosam error! Quaerat illo labore delectus. Dolores dolorem, exercitationem architecto reiciendis deserunt quidem reprehenderit sint, nisi quo deleniti iste minus delectus unde minima, ex ea illo veniam corporis obcaecati accusamus expedita?</div>
	<div class="cell align-middle small-1 text-right mt30">**:</div>
	<div class="cell small-11 text-justify mt30">Testez vos connaissances
		<br>
		<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis odit possimus nam voluptatibus reiciendis eos ipsum repudiandae, autem animi veniam sed in vitae repellat aliquam aperiam enim explicabo molestias.</div>
</div>
<hr>
<div class="essai">
	<div class="grid-x grid-padding-x align-stretch align-spaced">
		<div class="cell small-4">These cells have the same height</div>
		<div class="cell small-7 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, tempora. Impedit eius officia possimus laudantium? Molestiae eaque, sapiente atque doloremque placeat! In sint, fugiat saepe sunt dolore tempore amet cupiditate.</div>
	</div>
</div>
<hr>
<div class="row callout">
	<div class="flex-container align-justify">
		<div class="text-right">* :</div>
		<div class="flex-child-auto">Sinon, "(EN)" précisé123</div>
	</div>
	<div class="row">
		<div class="flex-container align-justify">
			<div class="text-right">** :</div>
			<div class="flex-child-auto">Testez vos connaissances</div>
		</div>
	</div>
</div>
<div class="flex-container h5 subheader align-justify">
	<div class="columns w1 tar">Titre</div>
	<div>Aide - bouée</div>
</div>
<div class="grid-x grid-padding-x">
	<div class="cell small-6 small-order-2 medium-order-1">This column will come second on small, and first on medium and larger.</div>
	<div class="cell small-6 small-order-1 medium-order-2">This column will come first on small, and second on medium and larger.</div>
</div>
<hr>

<table class="docc57 radius">
	<tbody>
		<tr>
			<td class="text-right" width="50">*</td>
			<td class="text-left">sdfs77</td>
		</tr>
		<tr>
			<td>**</td>
			<td>sdfs</td>
		</tr>
	</tbody>
</table>