[gitLabPageLink]

[viewBag]
==
<header>
  <div id="blocLogo">

    <div id="logo">
      <img src="{{ '/assets/images/logo_150x93_c7.png'|theme}}" alt="Logo GC7">
    </div>

    <div id="titre">
      <h1>{{ this.page.title }} @<a class="nofd" href="/" title="Accueil c57.fr">c57</a></h1>
      <h2>c57, <a class="nofd" href="/bea"title=" VOTRE B.E.A. ">LA réponse</a>.</h2>
    </div>

    <div id="boutons">

      <a href="https://gitlab.com/c57/c57/-/archive/master/c57-master.zip" class="btn btn-download" title=" Télécharger l'intégralité
 des fichiers du site c57.fr "><span
              class="icon"></span>Télécharger</a>

      <a href="https://gitlab.com/c57fr/c57" class="btn" target="_blank" title="Ouvrir un onglet du
 dépôt officiel du site c57.fr "><i class="icon fab fa-gitlab"></i>c57</a>

      <a href="{% component 'gitLabPageLink' %}" class="btn btn-gh-edit" target="_blank" title =" Éditer cette page
 Pour suggérer une modification "><span
              class="icon"></span>Page</a>

    </div>

  </div>
</header>
