{% set var = __SELF__.var %}

{#
  <p>{{ var ? 'var = ' ~ var : 'var indéfinie' }}</p>
#}


<div class="row mt-3">
  <div class="col">
    {# ^: Prepend - @: append #}
    <button id="getBtn" class="btn btn-primary"
      data-request="{{ __SELF__ }}::onClick"
      data-request-update="'{{ __SELF__ }}::reponse': '^#reponse'"
      data-attach-loading
      data-request-flash>
      Get resultat</button>
    <div id="copie" class="mt-3"></div>
  </div>
  <div class="col">
    <div id="reponse"></div>
  </div>
</div>

{% put scripts %}
<script>
  $(document).ready(function () {
    $('#getBtn').click();
  });
</script>
{% endput %}
