title = "Git"
url = "/tools/memos/git"
layout = "basic"
is_hidden = 0
show_menu = 0
==
<h1>Mémo GIT</h1>

2do Déplacer dans Doc
Nettoyer le dépôt en fonction des derniers réglage des .gitignore</br>

<b>git rm -r --cached .</b>

<p>Cf. pour exemple le .gitignore dans dossier storage/framework/cache</p>