<ul>
  {% set items2 = affTri.items2 %}
  {{ debug('Partial item2: ', items2) }}
  {% for item in items %}
  <li class="bigger">{{item|ucfirst}}</li>
  {% endfor %}
</ul>
Partial du component <strong>{{ __SELF__ }}</strong><br>
(En console, le tableau inversé, transmis par variable STRICT)

