/*  Config from Backend */
$zw-bg-color-bg-one: cornesilk;
$zw-bg-color-bg-two: yellow;
body {
    background-color: $zw-bg-color-bg-one;
    background-image: url(../css/images/overlay.png), -moz-linear-gradient(45deg, $zw-bg-color-bg-two 15%, $zw-bg-color-bg-one 85%);
    background-image: url(../css/images/overlay.png), -webkit-linear-gradient(45deg, $zw-bg-color-bg-two 15%, $zw-bg-color-bg-one 85%);
    background-image: url(../css/images/overlay.png), -ms-linear-gradient(45deg, $zw-bg-color-bg-two 15%, $zw-bg-color-bg-one 85%);
    background-image: url(../css/images/overlay.png), linear-gradient(45deg, $zw-bg-color-bg-two 15%, $zw-bg-color-bg-one 85%);
  }
  /*
  .button.special {
    background-color: $zw-button-bg !important;
  }
  */
  /* Responsive */
  @media screen and (max-width: 360px) {
    #nav {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 736px) {
    #nav {
      display: block;
      max-width: calc(100% - 2em);
  
    }
  }
  @media screen and (min-width: 480px) and (max-width: 736px) {
    #nav {
      max-width: calc(100% - 4em);
    }
  }
  
  $coulCadre:red;
// $coulFond: rgb(250, 250, 250);
$coulFond: cornsilk;
// $coulFond: red;
// $coulBouton: maroon;
$coulBouton: rgb(156, 129, 98);
// $coulBouton: rgb(255, 0, 0);

body {
    // color: #555;
    font-family: arial, 'roboto', 'Comic Sans MS', arial, sans-serif;
    background-color: $coulFond;
    color: #555555;
}

header {
    margin-top: 1px;
    margin-right: 20px;
    text-align: right;
}

.main {
    text-align: center;

    h1 {
        font-family: arial, 'roboto', serif;
        font-size: 64px; // color: #555;
        margin: 50px 0 50px 0;
        text-shadow: 1px 2px 0 $coulCadre
    }

    p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        font-size: 1.1em
    }

    div {
        width: 97%;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    a:link,
    a:visited,
    a:active {
        color: #34536a
    }

    /* c57.fr mis en évidence dans le texte */
    span.accron {
        margin: 0;
        font-weight: 800;
        font-size: 1.2em;
        color: #555;
        text-shadow: 1px 1px 0 $coulCadre;
        font-weight: bold;
        letter-spacing: 1px;

        &:nth-of-type(4) {
            font-size: 2.5em;
            margin-left: -2px;
            line-height: .1;
        }
    }

    #intro {
        padding: 20px;
        display: block;
        color: #555;
        font-size: 0.9em;
        border: 2px solid #eee;
        border-radius: 7px;
        max-width: 77%;
        min-width: 600px;
        margin: 0 auto;
        margin-bottom: 40px;
        background-color: #fff !important;

        @media (max-width: 830px) {
            max-width: 90%;
        }

        @media (max-width: 600px) {
            min-width: 0;
            width: 100%;
        }

        box-shadow: #ddd 0 0 20px 10px
    }

    .btn#chatroom {
        font-family: "Open sans", Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #fff !important;
        background-color: $coulBouton;
        /* border: 3px solid #000; */
        border-radius: 7px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 30px;
        border: 3px solid $coulBouton;
        transition: 7s;

        &:hover {
            color: darken($coulBouton, 10%) !important; // background-color: #fff!important;
            background-color: transparent;
            transition: .7s;
        }
    }
}

a {
    // color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 5px;
    border-radius: 7px;
    border: 3px solid rgba(0, 0, 0, 0);
    transition: 70s;

    &:hover {
        color: red;
        background-color: #ff0;
        border-style: outset;
        border-color: $coulCadre;
        transition: .5s;

        &.ext {
            background-color: red
        }
    }
}

// @media (min-width: 576px) {
//     .container {
//         max-width: inherit;
//     }
// }

.comaSeparate {
    color: #000;
}
