description = "Footer de c57"
==
<footer>
  <div style="
  /* margin-top: 0; 
  padding-top: 0;*/
  line-height: 0.1;text-align: right; margin-top: -.125%; font-size: 0.7em;margin-right: 15px;" class="sp1">
    &copy; 2020 - <strong><a href="https://github.com/c57fr/c57"
                            title="Dépôt GitHub">C57</a></strong>, Club Privé de Partage de Connaissances &
    Compétences
    -
    <em><a href="http://sg1.COTE7.com" class="ext" target="_blank">GC7</a></em> @ F59410 - ANZIN
  </div>
</footer>
