{% set mavar = __SELF__.mavar %}
<div class="row">
  <div class="col m-3">

    <h1>Send One Mail</h1>

    <h2>Test de mail() avec swift</h2>

    <p><i>(Activer/désactiver la fonction d'envoi en décommentant la ligne dans le code de SendOneMail.php)</i></p>


    Ma var = {{ mavar|json_encode }}

    <hr>

    {% for unevar in mavar %}
    {{ unevar }}<br>
    {% endfor %}

    <hr>

    Dernière data du array (Envoyé / component) = {{mavar[5]}}


  </div>
</div>
