title = "D03"
url = "/d-03"
layout = "tuto"
is_hidden = 0
show_menu = 0

[ajax]

[btnYN]

[ajaxForm]
==
<div class="container mx-auto">

  {% component 'ajax' %}

  <hr>

  {% component 'btnYN' %}
  
  <hr>
  
  {% component 'ajaxForm' %}

</div>