title = "D04"
url = "/d-04"
layout = "tuto"
description = "Composant simpleContact"
is_hidden = 0
show_menu = 0

[simpleContact]
nameTitle = "Full Name"
emailTitle = "Email"
phoneTitle = "Phone"
subjectTitle = "Subject"
messageTitle = "Message"
buttonText = "Submito"
displayPhone = 1
detailedErrors = 0
==
<div class="container">

  <h1>Test Plugin contact</h1>

  {% component 'simpleContact' %}

  <hr>

</div>