title = "D05"
url = "/d-05"
layout = "tuto"
description = "Test composant"
is_hidden = 0
show_menu = 0

[php]
==
<?php
function onStart(){
  $this->addCss('assets/css/tests.css');
}
?>
==
<div class="container">

  <h1>Exemples PHP</h1>

  {% component 'php' %}
  
  2do mettre ds page t-01

</div>