title = "D06"
url = "/d-06"
layout = "tuto"
description = "JS"
is_hidden = 0
show_menu = 0
==
<?php
function onStart(){
  $this->addCss('assets/css/tests.css');
  $this->addJs('assets/js/js.js');
}
?>
==
<div class="container">

  <h1>Exemples JS</h1>

  <p id="result"></p>

</div>