<div data-control="toolbar">
    <a
        href="<?= Backend::url('acme/formist/customers/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Nouveau <strong>Client</strong>
    </a>
</div>
