<h1>Hello world!</h1>
Page dont l'URL est:
<ul>
<li>Sans paramètres: <a href="http://c57/be/acme/formist/mycontroller/helloworld"> Helloworld</a></li>
<li>Avec params: <a href="http://c57/be/acme/formist/mycontroller/helloworld/111/222">Helloworld/111/222</a></li>
</ul>
<hr>
<?= $maVar ?> (Envoyée depuis une méthode dans le controller)
Params ?
<hr>
Envoyés dans URL, récupérés dans une méthode dans le controller puis retournés ici:
<pre>
  <? var_dump($mesParamsDansUrl) ?>
</pre>
<button data-request="onHello">Write to log 789</button>
