{% set reponse = __SELF__.reponse %}

Votre dernière réponse:
<p><strong>{{ reponse|capitalize }}</strong></p>

{% if reponse =="oui" %}
  - N'hésitez pas ! Ouvrez un <a class="text-no-decoration" href="https://gitlab.com/c57fr/c57/issues" target="_blank">nouveau ticket <i class="fa fa-external-link"></i> !
{% else %}
  - Alors, tout va bien...
{% endif %}

<hr>
