<script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ this.theme.jQuery_version }}/jquery.min.js"></script>
{% if this.theme.load_octobercms_framework %}
{% framework extras %}
{% endif %}

<script src="{{ ['assets/dist/stellar/js/jquery.min.js','assets/dist/stellar/js/jquery.scrollex.min.js', 'assets/dist/stellar/js/jquery.scrolly.min.js', 'assets/dist/stellar/js/skel.min.js', 'assets/dist/stellar/js/util.js', 'assets/dist/stellar/js/main.js']|theme }}"></script>
